<h2 id="title">TODO App</h2>

L
{{#md-list}}
  {{#each todos as |item|}}
    {{#md-list-item class="md-3-line"}}
      {{item.title}}
    {{/md-list-item}}
  {{/each}}
{{/md-list}}
l

{{#each todos as |item|}}
  {{#todo-item model=item}}
    Contents: {{item.title}}
  {{/todo-item}}

  <!--todo-item model=item>
    Contents: {{item.title}}
  </todo-item-->
{{/each}}

{{outlet}}
