<h2 id="title">TODO App</h2>

{{#each todos as |item|}}
  <!-- old syntax -->
  {{#todo-item todo=item}}
    <em>{{item.title}}</em>
  {{/todo-item}}

  <!-- angle bracket syntax -->
  <todo-item todo={{item}}>
    <em>{{item.title}}</em>
  </todo-item>
  <br>
{{/each}}

{{outlet}}
