<h2 id="title">TODO App</h2>

{{#each todos as |item|}}
  {{#todo-item model=item}}
    Contents: {{item.title}}
  {{/todo-item}}

  <!--todo-item model=item>
    Contents: {{item.title}}
  </todo-item-->
{{/each}}

{{outlet}}
